<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/head }}

<body>

  <main role="main">
    
    {{> partials/header }}

    {{> partials/animation-imports }}

    {{> partials/animation-process }}

    {{> partials/animation-exports }}

    {{> partials/animation-structure }}

    {{> partials/cta }}

  </main>

{{> partials/foot }}
