    <figure class="animation animation-process">

      <div class="animation-graphics">

      </div>
      
      <figcaption class="animation-captions">
      
      </figcaption>
      
    </figure>